# Django Settings
SECRET_KEY=votre_cle_secrete_ici
DEBUG=True

# Hugging Face Settings
HUGGING_FACE_HUB_TOKEN=votre_token_huggingface_ici
MODEL_RUU_FR=eliezermga/ruund-translate
MODEL_FR_RUU=eliezermga/french-rund-translator

# Database (PostgreSQL - Optionnel, utilise SQLite par défaut si DB_NAME est vide)
DB_NAME=lugayetu
DB_USER=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=5432
