# Essential Dependencies for Django on Render
Django==6.0.5
gunicorn==23.0.0
django-jazzmin==3.0.4
djangorestframework==3.17.1
python-dotenv==1.2.2
psycopg2-binary==2.9.10
whitenoise==6.9.0
requests==2.33.1

# Utilities
asgiref==3.11.1
sqlparse==0.5.5
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
urllib3==2.6.3